<!DOCTYPE html>
<html>

<head>
	<title>Add Event | IIITU Sports </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/public/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/events" style="font-size: 25px;">Events</a></li>
					<li>
						<a href="#" style="font-size: 25px;">Sports</a>
						<ul>
							<li><a href="/sport/cricket">Cricket</a></li>
							<li><a href="/sport/football">Football</a></li>
							<li><a href="/sport/basketball">Basketball</a></li>
							<li><a href="/sport/volleyball">Volleyball</a></li>
							<li><a href="/sport/tabletennis">Table Tennis</a></li>
							<li><a href="/sport/chess">Chess</a></li>

						</ul>
					</li>
					<li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
					<li><a href="#" style="font-size: 25px;">Council</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Add Event</h2>
					<p>Add an upcoming event.</p>
				</header>

				<!--Form for Adding an event-->
				<form method="POST" action="#">
					<div class="row gtr-uniform gtr-50">
						<div class="col-6 col-12-xsmall" class="inline">
							<input type="text" name="name" id="name" value="" placeholder="Name of the Event" />
						</div>
						<br>
						<div class="col-6 col-12-xsmall">
							<input type="text" name="eventDate" id="email" value="" placeholder="Date of Event" />
							<h5>(e.g. 20th March, 2020)</h5>
						</div>
						<br>
						<div class="col-6 col-12-xsmall">
							<input type="text" name="lastRegistration" id="email" value=""
								placeholder="Last Date for Registration" />
							<h5>(e.g. 20th March, 2020)</h5>
						</div>
						<br>
						<div class="col-6 col-12-xsmall">
							<input type="text" name="linkRegister" id="email" value=""
								placeholder="Google Form Link for Registration" />
						</div>
						<br>
						<div class="col-6 col-12-xsmall">
							<input type="text" name="link" id="email" value=""
								placeholder="Link for some knowledge about the event" />
						</div>
						<br>
						<div class="col-6 col-12-xsmall">
							<input type="file" name="ruleBook" id="email" value="Rule Book" placeholder="" />
						</div>
						<div class="col-12">
							<textarea name="message" id="message" placeholder="Enter details for the event."
								rows="6"></textarea>
						</div>

						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="Add" class="primary" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/iiituna" class="icon brands alt fa-twitter" target="_blank"><span
							class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; IIIT Una. All rights reserved.</li>
				<li>Design: <a href="https://powerfist01.web.app" target="_blank" style="text-decoration:none;">Sujeet
						Singh</a></li>
			</ul>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/jquery.scrolly.min.js"></script>
	<script src="/public/js/jquery.dropotron.min.js"></script>
	<script src="/public/js/jquery.scrollex.min.js"></script>
	<script src="/public/js/browser.min.js"></script>
	<script src="/public/js/breakpoints.min.js"></script>
	<script src="/public/js/util.js"></script>
	<script src="/public/js/main.js"></script>

</body>

</html>