<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Football Players | IIIT Una</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/players.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <p>The Great Talents</p>
        </div>
        <div class="row">
            <div class="col">
                <div class="image-area">
                    <div class="img-wrapper">
                        <img src="/static/images/players/sujeet.jpg" alt="Sujeet Singh">
                        <h2>Sujeet Singh</h2>
                        <ul>
                            <li><a href="https://github.com/powerfist01" target="_blank"><i
                                        class="fab fa-github"></i></a></li>
                            <li><a href="https://www.instagram.com/powerfist01" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="https://twitter.com/powerfist01" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="image-area">
                    <div class="img-wrapper">
                        <img src="/static/images/players/sujeet.jpg" alt="Sujeet Singh">
                        <h2>Sujeet Singh</h2>
                        <ul>
                            <li><a href="https://github.com/powerfist01" target="_blank"><i
                                        class="fab fa-github"></i></a></li>
                            <li><a href="https://www.instagram.com/powerfist01" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="https://twitter.com/powerfist01" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="image-area">
                    <div class="img-wrapper">
                        <img src="/static/images/players/sujeet.jpg" alt="Sujeet Singh">
                        <h2>Sujeet Singh</h2>
                        <ul>
                            <li><a href="https://github.com/powerfist01" target="_blank"><i
                                        class="fab fa-github"></i></a></li>
                            <li><a href="https://www.instagram.com/powerfist01" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="https://twitter.com/powerfist01" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="image-area">
                    <div class="img-wrapper">
                        <img src="/static/images/players/sujeet.jpg" alt="Sujeet Singh">
                        <h2>Sujeet Singh</h2>
                        <ul>
                            <li><a href="https://github.com/powerfist01" target="_blank"><i
                                        class="fab fa-github"></i></a></li>
                            <li><a href="https://www.instagram.com/powerfist01" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="https://twitter.com/powerfist01" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>