<!DOCTYPE HTML>
<html>

<head>
	<title>Basketball - IIIT Una</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/css/main.css">
	<noscript>
		<link rel="stylesheet" href="/public/css/noscript.css"></noscript>
</head>

<body class="is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/events" style="font-size: 25px;">Events</a></li>
					<li>
						<a href="#" style="font-size: 25px;">Sports</a>
						<ul>
							<li><a href="/sport/cricket">Cricket</a></li>
							<li><a href="/sport/football">Football</a></li>
							<li><a href="/sport/basketball">Basketball</a></li>
							<li><a href="/sport/volleyball">Volleyball</a></li>
							<li><a href="/sport/tabletennis">Table Tennis</a></li>
							<li><a href="/sport/chess">Chess</a></li>

						</ul>
					</li>

					<li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
					<li><a href="/council" style="font-size: 25px;">Council</a></li>
					<!-- <li><a href="#" class="button primary">Sign Up</a></li>
					<li><a href="#" class="button primary">Log In</a></li> -->
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Basketball</h2>
					<p>“Ever heard of slam-dunk, WE DO IT.”</p>
				</header>
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<section id="sidebar">

							<section>
								<h3>Our Players</h3>
								<p>Our hardworking players ...</p>
								<ul class="actions">
									<li><a href="/sport/football/players" class="button">Know Our Players</a></li>
								</ul>
							</section>
							<hr />
							<section id="sidebar">
								<h3>How to Join</h3>
								<p>Just contact...</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>
						</section>
					</div>
					<div class="col-8 col-12-medium imp-medium">
						<div class="box alt">
							<div class="row gtr-50 gtr-uniform">
								<div class="col-12"><span class="image fit"><img
											src="/public/images/football-allahabad.jpg" alt="" /></span></div>
							</div>
						</div>
						<!-- Content -->
						<section id="content">
							<p style="text-align: justify;">The Basketball team of IIIT Una actively participates in the
								Basketball related events and represent IIIT Una in multi-sports events around India.The
								team's first participation in one of such event came in the third annual Inter-IIIT
								sports meet 'Ashmita' held by IIIT Allahabad in February 2019,where the team displayed
								the excellent skills and team spirit to be ranked second runner up amongst numerous
								participating teams and proved to be a tough competition to all the competitors.We aim
								higher to be ranked as one of the best teams in the domain of Basketball.The team
								members are true to the objective of bringing laurels and recognition to the institute
								and the team ,and to support the mission the institute provides team an access to all
								the modern amenities required like dribbling basketballs ,shooting basketballs ,also the
								equipments are available to the college students who whih play basketball as a leisure
								activity.</p>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/jquery.scrolly.min.js"></script>
	<script src="/public/js/jquery.dropotron.min.js"></script>
	<script src="/public/js/jquery.scrollex.min.js"></script>
	<script src="/public/js/browser.min.js"></script>
	<script src="/public/js/breakpoints.min.js"></script>
	<script src="/public/js/util.js"></script>
	<script src="/public/js/main.js"></script>

</body>

</html>