<!DOCTYPE HTML>
<html>

<head>
	<title>IIIT Una Sports</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/css/main.css">
	<noscript>
        <link rel="stylesheet" href="/public/css/noscript.css"></noscript>
    <style>
        #sidebar{
            text-align: center;
        }
    </style>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">
		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/blog" style="font-size: 25px;">Blogs</a></li>
					<li><a href="/events" style="font-size: 25px;">Events</a></li>
					<li>
						<a href="#" style="font-size: 25px;">Sports</a>
						<ul>
							<li><a href="/sport/cricket">Cricket</a></li>
							<li><a href="/sport/football">Football</a></li>
							<li><a href="/sport/basketball">Basketball</a></li>
							<li><a href="/sport/lawntennis">Lawn Tennis</a></li>
							<li><a href="/sport/swimming">Aquatics</a></li>
							<li><a href="/sport/snooker">Snooker</a></li>
							<li><a href="/sport/weightlifting">Weight Lifting</a></li>
							<li><a href="/sport/athletics">Athletics</a></li>
							<li><a href="/sport/volleyball">Volleyball</a></li>
							<li><a href="/sport/tabletennis">Table Tennis</a></li>
							<li><a href="/sport/chess">Chess</a></li>

						</ul>
					</li>

					<li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
					<li><a href="/gallery" style="font-size: 25px;">Gallery</a></li>
					<li><a href="/council" style="font-size: 25px;">Council</a></li>
					<!-- <li><a href="#" class="button primary">Sign Up</a></li>
							<li><a href="#" class="button primary">Log In</a></li> -->
				</ul>
			</nav>
        </header>
        
        <div id="main" class="wrapper style1">
            <div class="container">
                <header class="major">
                    <h2>Blogging</h2>
                </header>
                <div class="row gtr-150">
                    <div class="col-4 col-12-medium">

                        <!-- Sidebar -->
                            <section id="sidebar">
                                <section>
                                    <h3>Top Blogs</h3>
                                    <div class="table-wrapper">
                                        <table class="alt">
                                            <tbody>
                                                <tr>
                                                    <td>Winning at Allahabad</td>
                                                </tr>
                                                <tr>
                                                    <td>How to Play Football?</td>
                                                
                                                </tr>
                                                <tr>
                                                    <td>Wanna play cricket?</td>
                                                   
                                                </tr>
                                                <tr>
                                                    <td>Just Do It! Nike</td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </section>

                    </div>
                    <div class="col-8 col-12-medium imp-medium">

                        <!-- Content -->
                            <section id="content">
                                <a href="#" class="image fit"><img src="/public/images/pic05.jpg" alt="" /></a>
                                <h3>Dolore Amet Consequat</h3>
                                <p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
                                <p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.</p>
                            </section>

                    </div>
                </div>
            </div>
        </div>


		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/iiituna" class="icon brands alt fa-twitter" target="_blank"><span
							class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; IIIT Una. All rights reserved.</li>
				<li>Design: <a href="https://powerfist01.web.app" target="_blank" style="text-decoration:none;">Sujeet
						Singh</a></li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/jquery.scrolly.min.js"></script>
	<script src="/public/js/jquery.dropotron.min.js"></script>
	<script src="/public/js/jquery.scrollex.min.js"></script>
	<script src="/public/js/browser.min.js"></script>
	<script src="/public/js/breakpoints.min.js"></script>
	<script src="/public/js/util.js"></script>
	<script src="/public/js/main.js"></script>

</body>

</html>