<!DOCTYPE HTML>
<html>

<head>
    <title>Blogs | IIITU Sports</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/css/main.css">
    <noscript>
        <link rel="stylesheet" href="/public/css/noscript.css"></noscript>
    <style>
        #sidebar {
            text-align: center;
        }

        a {
            color: white;
        }
    </style>
</head>

<body class="is-preload landing">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/blog" style="font-size: 25px;">Blogs</a></li>
                    <li><a href="/events" style="font-size: 25px;">Events</a></li>
                    <li>
                        <a href="#" style="font-size: 25px;">Sports</a>
                        <ul>
                            <li><a href="/sport/cricket">Cricket</a></li>
                            <li><a href="/sport/football">Football</a></li>
                            <li><a href="/sport/basketball">Basketball</a></li>
                            <li><a href="/sport/lawntennis">Lawn Tennis</a></li>
                            <li><a href="/sport/swimming">Aquatics</a></li>
                            <li><a href="/sport/snooker">Snooker</a></li>
                            <li><a href="/sport/weightlifting">Weight Lifting</a></li>
                            <li><a href="/sport/athletics">Athletics</a></li>
                            <li><a href="/sport/volleyball">Volleyball</a></li>
                            <li><a href="/sport/tabletennis">Table Tennis</a></li>
                            <li><a href="/sport/chess">Chess</a></li>

                        </ul>
                    </li>

                    <li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
                    <li><a href="/gallery" style="font-size: 25px;">Gallery</a></li>
                    <li><a href="/council" style="font-size: 25px;">Council</a></li>
                    <!-- <li><a href="#" class="button primary">Sign Up</a></li>
							<li><a href="#" class="button primary">Log In</a></li> -->
                </ul>
            </nav>
        </header>

        <div id="main" class="wrapper style1">
            <div class="container">
                <header class="major">
                    <h2>Blogs</h2>
                </header>
                <div class="row gtr-150">
                    <div class="col-4 col-12-medium">

                        <!-- Sidebar -->
                        <section id="sidebar">
                            <section>
                                <h3>Want to write a blog?</h3>
                                <p style="text-align:justify">Creating your own blog can take a little while, probably
                                    up to 30 minutes. So grab
                                    yourself a coffee or juice (whatever you fancy) and let’s get stuck in.</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="/blogging" class="button">Write a Blog</a></li>
                                    </ul>
                                </footer>
                            </section>
                            <section>
                                <h3>Top Blogs</h3>
                                <div class="table-wrapper">
                                    <table class="alt">
                                        <tbody>
                                            <tr>
                                                <td><a href="#">Winning at Allahabad</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">How to Play Football?</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Wanna play cricket?</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Just Do It! Nike</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </section>

                    </div>
                    <div class="col-8 col-12-medium imp-medium">
                        <section id="content">
                            <h3>Badminton at IIIT Allahabad</h3>
                            <a href="#" class="image fit"><img src="/public/images/pic05.jpg" alt="No Image" /></a>
                            <p>The badminton team of IIIT Una is one of the reputed sports team of the college with
                                highly skilled and enthusiast individuals which represents IIIT Una in multi-sports
                                events around the country. The team's first major participation came in the third annual
                                Inter-Iiit sports meet held in IIIT Allahabad ASMITA in February 2019 where the team
                                made it to top four teams but their run ended after losing in the semi-finals out of the
                                dozens teams that participated.
                                </p>
                                <p>The team's aim is to develop a team that performs both
                                in singles and doubles events be it boys or the girls and each guy of the team trains
                                hard to compete and outperform others in events. The team uses world class accessories
                                which comprises of racquets and shuttlecocks(feather and non-feather) (YONEX or LI-NING)
                                , non-marking shoes, etc so that their is no lack in the quality of equipments and is
                                always ready to meet their needs both for students who play badminton seriously and who
                                play it as a recreational activity.
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/iiituna" class="icon brands alt fa-twitter" target="_blank"><span
                            class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; IIIT Una. All rights reserved.</li>
                <li>Design: <a href="https://powerfist01.web.app" target="_blank" style="text-decoration:none;">Sujeet
                        Singh</a></li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.scrolly.min.js"></script>
    <script src="/public/js/jquery.dropotron.min.js"></script>
    <script src="/public/js/jquery.scrollex.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>

</body>

</html>