<!DOCTYPE HTML>
<html>

<head>
	<title>Football - IIIT Una</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/css/main.css">
	<noscript>
		<link rel="stylesheet" href="/public/css/noscript.css"></noscript>
	<style>
		a,
		p,
		h1 {
			font-weight: 500;
		}
	</style>
</head>

<body class="is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/events" style="font-size: 25px;">Events</a></li>
					<li>
						<a href="#" style="font-size: 25px;">Sports</a>
						<ul>
							<li><a href="/sport/cricket">Cricket</a></li>
							<li><a href="/sport/football">Football</a></li>
							<li><a href="/sport/basketball">Basketball</a></li>
							<li><a href="/sport/volleyball">Volleyball</a></li>
							<li><a href="/sport/tabletennis">Table Tennis</a></li>
							<li><a href="/sport/chess">Chess</a></li>

						</ul>
					</li>

					<li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
					<li><a href="/council" style="font-size: 25px;">Council</a></li>
					<!-- <li><a href="#" class="button primary">Sign Up</a></li>
					<li><a href="#" class="button primary">Log In</a></li> -->
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Chess</h2>
					<p>“We learned all about life with a ball at our feet.”</p>
				</header>
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<section id="sidebar">

							<section>
								<h3>Our Players</h3>
								<p>Our hardworking players ...</p>
								<ul class="actions">
									<li><a href="/sport/football/players" class="button">Know Our Players</a></li>
								</ul>
							</section>
							<hr />
							<section id="sidebar">
								<h3>How to Join</h3>
								<p>Just contact...</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>
						</section>
					</div>
					<div class="col-8 col-12-medium imp-medium">
						<div class="box alt">
							<div class="row gtr-50 gtr-uniform">
								<div class="col-12"><span class="image fit"><img
											src="/public/images/football-allahabad.jpg" alt="" /></span></div>
							</div>
						</div>
						<!-- Content -->
						<section id="content">
							<p style="text-align: justify;">The football team is the sports team of IIIT Una which participates in football related
								events on behalf of IIIT Una in multi-sports events around India. The team's first
								participation in a multi-sports event came in the third annual Inter-IIIT sports meet at
								IIIT Allahabad in February 2019, where they were placed as one of the losing
								semi-finalists out of the twelve participating teams. The team aims to develop players
								for both eleven-a-side and five-a-side football (futsal), in the hope of developing a
								team which can be known as one of the best football teams among all the IIITs around
								India. The team has access to quality football accessories which includes different
								footballs (hard and soft), goalkeeping gloves, pads, etc and always moves in a stride to
								get more quality accessories, both for, students who play football as a leisure activity
								and for the main football team.</p>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/jquery.scrolly.min.js"></script>
	<script src="/public/js/jquery.dropotron.min.js"></script>
	<script src="/public/js/jquery.scrollex.min.js"></script>
	<script src="/public/js/browser.min.js"></script>
	<script src="/public/js/breakpoints.min.js"></script>
	<script src="/public/js/util.js"></script>
	<script src="/public/js/main.js"></script>

</body>

</html>