<!docTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title>Council | IIIT Una</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
    <noscript>
        <link rel="stylesheet" href="/public/css/noscript.css"></noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <!-- Custom CSS -->

</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/addEvents" style="font-size: 25px;">Add Events</a></li>
                    <li><a href="/events" style="font-size: 25px;">Events</a></li>
                    <li><a href="#" style="font-size: 25px;">Jerseys</a></li>
                    <li>
                        <a href="#" style="font-size: 25px;">Sports</a>
                        <ul>
                            <li><a href="/sport/cricket">Cricket</a></li>
                            <li><a href="/sport/football">Football</a></li>
                            <li><a href="/sport/basketball">Basketball</a></li>
                            <li><a href="/sport/volleyball">Volleyball</a></li>
                            <li><a href="/sport/tabletennis">Table Tennis</a></li>
                            <li><a href="/sport/chess">Chess</a></li>

                        </ul>
                    </li>

                    <li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
                    <li><a href="#" style="font-size: 25px;">Council</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main" class="wrapper style1">
            <div class="container">
                <header class="major">
                    <h2>Member of Council</h2>
                    <p></p>
                </header>

                <!-- Council Members-->
                <div class="council-members">
                    <section class="box-content box-3" id="box-gallery" data-anchor="gallery">
                        <div class="">
                            <div class="no-gutter">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="portfolio-box zoom-effect">
                                        <img src="/public/images/1.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    Prof. S. Selvakumar 
                                                </div>
                                                <div class="project-category">
                                                    Director
                                                </div>
                                                <div class="project-social">
                                                    <ul class="list-inline">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div>
                        <section class="box-content box-3" id="box-gallery" data-anchor="gallery">
                        <div class="">
                            <div class="no-gutter">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="portfolio-box zoom-effect">
                                        <img src="/public/images/1.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    Prof. S. Selvakumar 
                                                </div>
                                                <div class="project-category">
                                                    Director
                                                </div>
                                                <div class="project-social">
                                                    <ul class="list-inline">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/iiituna" class="icon brands alt fa-twitter" target="_blank"><span
                            class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; IIIT Una. All rights reserved.</li>
                <li>Design: <a href="https://powerfist01.web.app" target="_blank" style="text-decoration:none;">Sujeet
                        umar Singh</a></li>
            </ul>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.scrolly.min.js"></script>
    <script src="/public/js/jquery.dropotron.min.js"></script>
    <script src="/public/js/jquery.scrollex.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>

</body>

</html>