<!DOCTYPE html>
<html>

<head>
	<title>Events | IIIT Una</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
	<link rel="stylesheet" href="/public/css/event.css">
</head>

<body style="background-color: rgb(207, 128, 10);">
	<div class="container-fluid">
		<div>
			<header id="header">
				<h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/events" style="font-size: 25px;">Events</a></li>
						<li><a href="#" style="font-size: 25px;">Updates</a></li>
						<li>
							<a href="#" style="font-size: 25px;">Sports</a>
							<ul>
								<li><a href="/sport/cricket">Cricket</a></li>
								<li><a href="/sport/football">Football</a></li>
								<li><a href="/sport/basketball">Basketball</a></li>
								<li><a href="/sport/volleyball">Volleyball</a></li>
								<li><a href="/sport/tabletennis">Table Tennis</a></li>
								<li><a href="/sport/chess">Chess</a></li>
							</ul>
						</li>
						<li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
						<li><a href="#" style="font-size: 25px;">Council</a></li>
						<!-- <li><a href="#" class="button primary">Sign Up</a></li>
										<li><a href="#" class="button primary">Log In</a></li> -->
					</ul>
				</nav>
			</header>
		</div>
		<div class="wrapper">
			<div class="main_card">
				<div class="card_left">
					<div class="card_datails">
						<h1><strong>Futsal - futebol de salao</strong></h1>
						<div class="card_cat">
							<p class="year">Match Day:</p>
							<p class="year">30th June, 2020</p>
						</div>
						<div class="card_cat">
							<p class="year">Last Date of Registration:</p>
							<p class="year">20th June, 2020</p>
						</div>
						<p class="disc"> A Futsal player needs to have a great capacity of intermittent endurance,
							repeated sprint ability, and leg power.</p>
						<a href="https://en.wikipedia.org/wiki/Futsal" target="_blank"><strong>Read More</strong></a>
						<div class="social-btn">
							<button>
								<i class="fas fa-download"></i> DOWNLOAD RULE BOOK
							</button>

							<button>
								<i class="fas fa-thumbs-up"></i> REGISTER HERE
							</button>
						</div>
					</div>
				</div>
				<div class="card_right">
					<div class="img_container">
						<img src="https://wallpapercave.com/wp/wp2567607.jpg" alt="No Image Found" width="325px">
					</div>
				</div>
			</div>


			<div class="main_card">
					<div class="card_left">
						<div class="card_datails">
							<h1><strong>Chess - shatranj</strong></h1>
							<div class="card_cat">
								<p class="year">Match Day:</p>
								<p class="year">31th July, 2020</p>
							</div>
							<div class="card_cat">
								<p class="year">Last Date of Registration:</p>
								<p class="year">29th June, 2020</p>
							</div>
							<p class="disc"> Train your brain a little bit.</p>
							<a href="https://en.wikipedia.org/wiki/Futsal" target="_blank"><strong>Read More</strong></a>
							<div class="social-btn">
								<button>
									<i class="fas fa-download"></i> DOWNLOAD RULE BOOK
								</button>
	
								<button>
									<i class="fas fa-thumbs-up"></i> REGISTER HERE
								</button>
							</div>
						</div>
					</div>
					<div class="card_right">
						<div class="img_container">
							<img src="https://wallpapercave.com/wp/wp2567607.jpg" alt="No Image Found" width="325px">
						</div>
					</div>
				</div>
		</div>
	</div>
</body>

</html>