<!DOCTYPE HTML>
<html>

<head>
    <title>IIIT Una Sports</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/css/main.css">
    <noscript><link rel="stylesheet" href="/public/css/noscript.css"></noscript>
    <style>
        .main_card {
            color: #fff;
            width: auto;
            height: auto;
            margin: 150px auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            max-width: 900px;
            background: #00C9FF;
            background: -webkit-linear-gradient(to right, rgb(19, 4, 224), rgb(180, 6, 64));
            background: -webkit-linear-gradient(left, #92FE9D, #00C9FF);
            background: -o-linear-gradient(left, #92FE9D, #00C9FF);
            background: linear-gradient(to right, rgb(3, 209, 48), rgb(19, 16, 167));
            -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
        }

        .card_left {
            width: 100%;
        }

        .card_datails {
            width: 90%;
            padding: 30px;
            margin-top: -25px;
        }

        .card_datails h1 {
            font-size: 30px;
        }

        .card_right img {
            height: 450px;
            border-radius: 2px;
        }

        .card_right {
            border-radius: 2px;
        }

        .card_cat {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .PG,
        .year,
        .genre,
        .time {
            color: white;
            font-weight: bold;
            border-radius: 15px;
        }

        .disc {
            font-weight: 1000;
            color: rgb(59, 55, 57);
            line-height: 27px;
            margin-bottom: 10px;
        }

        .social-btn {
            margin-left: -10px;
        }

        button {
            color: #fff;
            margin-right: 20px;
            margin-bottom: 20px;
            border: none;
            padding: 20px;
            outline: none;
            font-size: 15px;
            background: rgb(12, 221, 158);
            border-radius: 12px;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            -webkit-transition: 300ms ease-in-out;
            -o-transition: 200ms ease-in-out;
            transition: 200ms ease-in-out;
        }

        button:hover {
            cursor: pointer;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

        .read-me{
            margin-bottom: 20px;
        }
        a{
            color: white;
        }
        .event-name{
            color: crimson;
            font-size: 50px;
            font-weight: 600;
        }
    </style>
</head>

<body class="is-preload landing">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/addEvents" style="font-size: 25px;">Add Events</a></li>
                    <li><a href="/events" style="font-size: 25px;">Events</a></li>
                    <li><a href="#" style="font-size: 25px;">Jerseys</a></li>
                    <li>
                        <a href="#" style="font-size: 25px;">Sports</a>
                        <ul>
                            <li><a href="/sport/cricket">Cricket</a></li>
                            <li><a href="/sport/football">Football</a></li>
                            <li><a href="/sport/basketball">Basketball</a></li>
                            <li><a href="/sport/volleyball">Volleyball</a></li>
                            <li><a href="/sport/tabletennis">Table Tennis</a></li>
                            <li><a href="/sport/chess">Chess</a></li>

                        </ul>
                    </li>

                    <li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
                    <li><a href="#" style="font-size: 25px;">Council</a></li>
                    <!-- <li><a href="#" class="button primary">Sign Up</a></li>
							<li><a href="#" class="button primary">Log In</a></li> -->
                </ul>
            </nav>
        </header>

        <!-- An Event -->

        <div style="margin-top: 100px;">
            <div class="main_card">
                <div class="card_left">
                    <div class="card_datails">
                        <h1 class="event-name">Futsal - futebol de salao</h1>
                        <div class="card_cat">
                            <p class="year">Match Day:</p>
                            <p class="year">30th June, 2020</p>
                        </div>
                        <div class="card_cat">
                            <p class="year">Last Date of Registration:</p>
                            <p class="year">20th June, 2020</p>
                        </div>
                        <p class="disc" style="text-align: justify;"> A Futsal player needs to have a great capacity of intermittent endurance,
                            repeated sprint ability, and leg power.</p>
                        <div class="read-me">
                            <a href="https://en.wikipedia.org/wiki/Futsal" target="_blank"
                                style="text-decoration: none;">Read More</a>
                        </div>

                        <div class="social-btn">
                            <button>
                                <i class="fas fa-download"></i> DOWNLOAD RULE BOOK
                            </button>
                            
                            <button>
                                <i class="fas fa-thumbs-up"></i> REGISTER HERE
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card_right">
                    <div class="img_container">
                        <img src="https://wallpapercave.com/wp/wp2567607.jpg" alt="Image Not Found" width="325px">
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/iiituna" class="icon brands alt fa-twitter" target="_blank"><span
                            class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; IIIT Una. All rights reserved.</li>
                <li>Design: <a href="https://powerfist01.web.app" target="_blank" style="text-decoration:none;">Sujeet Singh</a></li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.scrolly.min.js"></script>
    <script src="/public/js/jquery.dropotron.min.js"></script>
    <script src="/public/js/jquery.scrollex.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>

</body>

</html>