<!DOCTYPE html>
<html>

<head>
	<title>Events | IIIT Una</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/forevent.css">
</head>

<body>
	<div class="container-fluid">
		<div class="wrapper">
			<div class="main_card">
				<div class="card_left"> 
					<div class="card_datails">
						<h1><strong>Futsal - futebol de salao</strong></h1>
						<div class="card_cat">
							<p class="year">Match Day:</p>
							<p class="year">30th June, 2020</p>
						</div>
						<div class="card_cat">
							<p class="year">Last Date of Registration:</p>
							<p class="year">20th June, 2020</p>
						</div>
						<p class="disc"> A Futsal player needs to have a great capacity of intermittent endurance,
							repeated sprint ability, and leg power.</p>
						<a href="https://en.wikipedia.org/wiki/Futsal" target="_blank"><strong>Read More</strong></a>
						<div class="social-btn">
							<button>
								<i class="fas fa-download"></i> DOWNLOAD RULE BOOK
							</button>

							<button>
								<i class="fas fa-thumbs-up"></i> REGISTER HERE
							</button>
						</div>
					</div>
				</div>
				<div class="card_right">
					<div class="img_container">
						<img src="https://wallpapercave.com/wp/wp2567607.jpg" alt="No Image Found" width="325px">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>