<!DOCTYPE HTML>
<html>

<head>
    <title>IIIT Una Sports</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/players.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <noscript>
        <link rel="stylesheet" href="/public/css/noscript.css">
    </noscript>
    <style>
        a:hover {
            text-decoration: none;
        }
    </style>
</head>

<body class="is-preload landing">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/addEvents" style="font-size: 25px;">Add Events</a></li>
                    <li><a href="/events" style="font-size: 25px;">Events</a></li>
                    <li><a href="#" style="font-size: 25px;">Jerseys</a></li>
                    <li>
                        <a href="#" style="font-size: 25px;">Sports</a>
                        <ul>
                            <li><a href="/sport/cricket">Cricket</a></li>
                            <li><a href="/sport/football">Football</a></li>
                            <li><a href="/sport/basketball">Basketball</a></li>
                            <li><a href="/sport/volleyball">Volleyball</a></li>
                            <li><a href="/sport/tabletennis">Table Tennis</a></li>
                            <li><a href="/sport/chess">Chess</a></li>

                        </ul>
                    </li>

                    <li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
                    <li><a href="/council" style="font-size: 25px;">Council</a></li>
        
                </ul>
            </nav>
        </header>

        <div class="header" style="margin-top: 200px;">
            <p>Football Players</p>
        </div>

        <div class="row">
            <div class="col">
                <div class="image-area">
                    <div class="img-wrapper">
                        <img src="/public/images/players/sujeet.jpg" alt="Sujeet Singh">
                        <h2>Sujeet Singh</h2>
                        <ul>
                            <li><a href="https://github.com/powerfist01" target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/powerfist01" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="https://twitter.com/powerfist01" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="image-area">
                    <div class="img-wrapper">
                        <img src="/public/images/players/sujeet.jpg" alt="Sujeet Singh">
                        <h2>Sujeet Singh</h2>
                        <ul>
                            <li><a href="https://github.com/powerfist01" target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/powerfist01" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="https://twitter.com/powerfist01" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="image-area">
                    <div class="img-wrapper">
                        <img src="/public/images/players/sujeet.jpg" alt="Sujeet Singh">
                        <h2>Sujeet Singh</h2>
                        <ul>
                            <li><a href="https://github.com/powerfist01" target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/powerfist01" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="https://twitter.com/powerfist01" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="image-area">
                    <div class="img-wrapper">
                        <img src="/public/images/players/sujeet.jpg" alt="Sujeet Singh">
                        <h2>Sujeet Singh</h2>
                        <ul>
                            <li><a href="https://github.com/powerfist01" target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/powerfist01" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="https://twitter.com/powerfist01" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer id="footer" style="margin-top: 700px;">
            <ul class="icons">
                <li><a href="https://twitter.com/iiituna" class="icon brands alt fa-twitter" target="_blank"><span
                            class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; IIIT Una. All rights reserved.</li>
                <li>Design: <a href="https://powerfist01.web.app" target="_blank" style="text-decoration:none;">Sujeet
                        Singh</a></li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.scrolly.min.js"></script>
    <script src="/public/js/jquery.dropotron.min.js"></script>
    <script src="/public/js/jquery.scrollex.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>

</body>

</html>