<!DOCTYPE HTML>
<html>

<head>
	<title>Football - IIIT Una</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/noscript.css">
</head>

<body class="is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
		</header>

		<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Football</h2>
					<p>“We learned all about life with a ball at our feet.”</p>
				</header>
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<section id="sidebar">
							
							<section>
								<h3>Our Players</h3>
								<p>Our hardworking players ...</p>
								<footer>
									<ul class="actions">
										<li><a href="/sport/footballPlayers" class="button">Know Our Players</a></li>
									</ul>
								</footer>
							</section>
							<hr />
							<section id="sidebar">
								<section>
									<h3>How to Join</h3>
									<p>Just contact...</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button">Learn More</a></li>
										</ul>
									</footer>
								</section>
							</section>

					</div>
					<div class="col-8 col-12-medium imp-medium">

						<!-- Content -->
						<section id="content">
							<img src="/static/images/football-allahabad.jpg" style="height: 600px; width: 900px;" alt="" />
							<p>Football, also called soccer, game in which two teams of 11
								players, using any part of their bodies except their hands and arms, try to maneuver the
								ball into the opposing team’s goal. Only the goalkeeper is permitted to handle the ball
								and may do so only within the penalty area surrounding the goal. The team that scores
								more goals wins.</p>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="./js/jquery.min.js"></script>
	<script src="./js/jquery.scrolly.min.js"></script>
	<script src="./js/jquery.dropotron.min.js"></script>
	<script src="./js/jquery.scrollex.min.js"></script>
	<script src="./js/browser.min.js"></script>
	<script src="./js/breakpoints.min.js"></script>
	<script src="./js/util.js"></script>
	<script src="./js/main.js"></script>

</body>

</html>