<!DOCTYPE HTML>
<html>

<head>
    <title>Gallery - IIITU Sports</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/css/main.css">
    <noscript>
        <link rel="stylesheet" href="/public/css/noscript.css"></noscript>
</head>

<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/events" style="font-size: 25px;">Events</a></li>
                    <li>
                        <a href="#" style="font-size: 25px;">Sports</a>
                        <ul>
                            <li><a href="/sport/cricket">Cricket</a></li>
                            <li><a href="/sport/football">Football</a></li>
                            <li><a href="/sport/basketball">Basketball</a></li>
                            <li><a href="/sport/volleyball">Volleyball</a></li>
                            <li><a href="/sport/tabletennis">Table Tennis</a></li>
                            <li><a href="/sport/chess">Chess</a></li>

                        </ul>
                    </li>

                    <li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
                    <li><a href="/gallery" style="font-size: 25px;">Gallery</a></li>

                    <li><a href="/council" style="font-size: 25px;">Council</a></li>
                    <!-- <li><a href="#" class="button primary">Sign Up</a></li>
					<li><a href="#" class="button primary">Log In</a></li> -->
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main" class="wrapper style1">
            <div class="container">
                <header class="major">
                    <h2 style="font-weight: 600;">The Gallery Upon Us</h2>
                    <p>All Our Favourite Memories captured.</p>
                </header>
               
                <div class="row gtr-150">
                    <div class="col-2 col-12-medium">
                        
                    </div>
                    <div class="col-8 col-12-medium">
                        <div class="box alt">
                            <div class="row gtr-50 gtr-uniform">
                                <div class="col-12 zoom"><span class="image fit"><img
                                            src="/public/images/football-allahabad.jpg" alt="" /></span></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 col-12-medium">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <ul class="icons">
            <li><a href="https://twitter.com/iiituna" class="icon brands alt fa-twitter" target="_blank"><span
                        class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; IIIT Una. All rights reserved.</li>
            <li>Design: <a href="https://powerfist01.web.app" target="_blank" style="text-decoration:none;">Sujeet Singh</a></li>
        </ul>
    </footer>


    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.scrolly.min.js"></script>
    <script src="/public/js/jquery.dropotron.min.js"></script>
    <script src="/public/js/jquery.scrollex.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>

</body>

</html>