<!DOCTYPE HTML>
<html>

<head>
	<title>IIIT Una Sports</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/css/main.css">
	<noscript><link rel="stylesheet" href="/public/css/noscript.css"></noscript>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">
		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/events" style="font-size: 25px;">Events</a></li>
					<li><a href="#" style="font-size: 25px;">Updates</a></li>
					<li>
						<a href="#" style="font-size: 25px;">Sports</a>
						<ul>
							<li><a href="/sport/cricket">Cricket</a></li>
							<li><a href="/sport/football">Football</a></li>
							<li><a href="/sport/basketball">Basketball</a></li>
							<li><a href="/sport/volleyball">Volleyball</a></li>
							<li><a href="/sport/tabletennis">Table Tennis</a></li>
							<li><a href="/sport/chess">Chess</a></li>

						</ul>
					</li>

					<li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
					<li><a href="#" style="font-size: 25px;">Council</a></li>
					<!-- <li><a href="#" class="button primary">Sign Up</a></li>
							<li><a href="#" class="button primary">Log In</a></li> -->
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="content" style="text-align: center; text-transform: uppercase; font-weight: 900;">
				<header>
					<h2><strong><b>IIIT Una Sports</b></strong></h2>
					<p>Just as if you have to play <br />
						Just apps. Lots of mother flipping apps.</p>
				</header>
			</div>
			<a href="#one" class="goto-next scrolly">Next</a>
		</section>

		<!-- One -->
		<section id="one" class="spotlight style1 bottom">
			<span class="image fit main"><img src="/public/images/pic02.jpg" alt="" /></span>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">
							<header>
								<h2>Odio faucibus ipsum integer consequat</h2>
								<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
							</header>
						</div>
						<div class="col-4 col-12-medium">
							<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
								Blandit orci porttitor semper. Arcu phasellus tortor enim mi
								nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
								augue varius tempus lobortis porttitor accumsan consequat
								adipiscing lorem dolor.</p>
						</div>
						<div class="col-4 col-12-medium">
							<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
								adipiscing adipiscing metus massa. Blandit orci porttitor semper.
								Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
								mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
								ipsum dolor nullam.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#two" class="goto-next scrolly">Next</a>
		</section>

		<!-- Two -->
		<section id="two" class="spotlight style2 right">
			<span class="image fit main"><img src="/public/images/pic03.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Football</h2>
					<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
				</header>
				<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing.
					Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan
					consequat adipiscing lorem.</p>
				<ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</div>
			<a href="#three" class="goto-next scrolly">Next</a>
		</section>
		<br><br>
		<!-- Three -->
		<section id="three" class="spotlight style3 left">
			<span class="image fit main bottom"><img src="/public/images/pic04.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Cricket</h2>
					<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
				</header>
				<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing.
					Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan
					consequat adipiscing lorem.</p>
				<ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</div>
			<a href="#four" class="goto-next scrolly">Next</a>
		</section>
		<br><br>
		<!-- Three point Five -->
		<section id="four" class="spotlight style2 right">
			<span class="image fit main"><img src="/public/images/pic03.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Basketball</h2>
					<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
				</header>
				<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing.
					Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan
					consequat adipiscing lorem.</p>
				<ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</div>
			<a href="#five" class="goto-next scrolly">Next</a>
		</section>
		<br><br>

		<!-- Three point Nine -->
		<section id="five" class="spotlight style3 left">
			<span class="image fit main bottom"><img src="/public/images/pic04.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Table Tennis</h2>
					<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
				</header>
				<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing.
					Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan
					consequat adipiscing lorem.</p>
				<ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</div>
			<a href="#six" class="goto-next scrolly">Next</a>
		</section>
		<br><br>

		<!-- Four -->
		<section id="six" class="wrapper style1 special fade-up">
			<div class="container">
				<header class="major">
					<h2>Accumsan sed tempus adipiscing blandit</h2>
					<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
				</header>
				<div class="box alt">
					<div class="row gtr-uniform">
						<section class="col-4 col-6-medium col-12-xsmall">
							<span><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80" height="80"
									viewBox="0 0 172 172" style=" fill:#000000;">
									<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
										stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
										stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
										font-size="none" text-anchor="none" style="mix-blend-mode: normal">
										<path d="M0,172v-172h172v172z" fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43zM122.12,165.12c23.74824,0 43,-19.25176 43,-43v-72.24c0,-23.74824 -19.25176,-43 -43,-43h-72.24c-23.74824,0 -43,19.25176 -43,43v72.24c0,23.74824 19.25176,43 43,43z"
											fill="#000000"></path>
										<g>
											<path
												d="M43.00043,152.02414l2.14011,-8.56431c2.4381,-0.59211 3.23532,-4.01899 4.00932,-7.34332c0.63274,-2.72254 1.28678,-5.53603 2.67998,-6.84022c10.10844,-9.46795 19.65767,-18.41153 19.65767,-43.27628c0,-4.1467 -0.03483,-8.70557 -0.06579,-13.27797c-0.03289,-4.24345 -0.06192,-8.49852 -0.06772,-12.44398h29.29397c-0.00581,3.51203 -0.03483,7.61229 -0.06386,11.79383c-0.03483,4.78332 -0.07159,9.67693 -0.07159,13.92813c0,24.8454 9.54922,33.79671 19.65573,43.27628c1.3932,1.30613 2.04723,4.11962 2.67997,6.84216c0.77207,3.32433 1.56929,6.75122 4.00932,7.34139l2.14011,8.56431z"
												fill="#b6c9d6"></path>
											<path
												d="M99.67658,61.24554c-0.00774,3.28563 -0.03483,7.01824 -0.06192,10.82052c-0.03483,4.78526 -0.06966,9.68081 -0.06966,13.93394c0,25.2653 10.14714,34.77969 19.96146,43.98062c1.18035,1.10682 1.82858,3.89515 2.3994,6.35647c0.75272,3.24113 1.59057,6.84797 4.14477,7.88512l1.7086,6.83249h-83.51847l1.7086,-6.83249c2.55226,-1.03909 3.39012,-4.64593 4.14477,-7.88706c0.57276,-2.46132 1.22099,-5.24966 2.3994,-6.35454c9.81238,-9.19125 19.96146,-18.69791 19.96146,-43.98062c0,-4.14864 -0.0329,-8.70943 -0.06579,-13.28378c-0.02903,-3.89709 -0.05612,-7.80192 -0.06579,-11.47068h27.35316M101.61352,59.31054h-31.22703c0,8.40757 0.13351,18.37669 0.13351,26.68945c0,24.34811 -9.36927,33.22008 -19.35,42.57c-3.57007,3.34368 -2.64127,14.01133 -6.80539,14.01133l-2.60258,10.40837h88.47594l-2.60257,-10.40837c-4.16799,0 -3.23339,-10.66185 -6.8054,-14.01133c-9.97493,-9.35379 -19.35,-18.23157 -19.35,-42.57c0,-8.31276 0.13352,-19.08297 0.13352,-26.68945z"
												fill="#788b9c"></path>
											<path
												d="M30.8525,158.5625v-6.7725c0,-6.93504 5.64246,-12.5775 12.5775,-12.5775h85.14c6.93504,0 12.5775,5.64246 12.5775,12.5775v6.7725z"
												fill="#b6c9d6"></path>
											<path
												d="M128.57,140.18c6.40098,0 11.61,5.20902 11.61,11.61v5.805h-108.36v-5.805c0,-6.40098 5.20902,-11.61 11.61,-11.61h85.14M128.57,138.245h-85.14c-7.44975,0 -13.545,6.09525 -13.545,13.545v7.74h112.23v-7.74c0,-7.44975 -6.09525,-13.545 -13.545,-13.545z"
												fill="#788b9c"></path>
											<path
												d="M47.3,139.2125c-3.73455,0 -6.7725,-3.03795 -6.7725,-6.7725c0,-3.73455 3.03795,-6.7725 6.7725,-6.7725h77.4c3.73455,0 6.7725,3.03795 6.7725,6.7725c0,3.73455 -3.03795,6.7725 -6.7725,6.7725z"
												fill="#ffeea3"></path>
											<path
												d="M124.7,126.635c3.20049,0 5.805,2.60451 5.805,5.805c0,3.20049 -2.60451,5.805 -5.805,5.805h-77.4c-3.20049,0 -5.805,-2.60451 -5.805,-5.805c0,-3.20049 2.60451,-5.805 5.805,-5.805h77.4M124.7,124.7h-77.4c-4.257,0 -7.74,3.483 -7.74,7.74c0,4.257 3.483,7.74 7.74,7.74h77.4c4.257,0 7.74,-3.483 7.74,-7.74c0,-4.257 -3.483,-7.74 -7.74,-7.74z"
												fill="#ba9b48"></path>
											<path
												d="M86,69.5525c-12.26983,0 -22.2525,-9.98266 -22.2525,-22.2525c0,-12.26984 9.98267,-22.2525 22.2525,-22.2525c12.26984,0 22.2525,9.98266 22.2525,22.2525c0,12.26984 -9.98267,22.2525 -22.2525,22.2525z"
												fill="#b6c9d6"></path>
											<path
												d="M86,26.015c11.73578,0 21.285,9.54922 21.285,21.285c0,11.73578 -9.54922,21.285 -21.285,21.285c-11.73578,0 -21.285,-9.54922 -21.285,-21.285c0,-11.73578 9.54922,-21.285 21.285,-21.285M86,24.08c-12.82324,0 -23.22,10.39675 -23.22,23.22c0,12.82325 10.39675,23.22 23.22,23.22c12.82325,0 23.22,-10.39675 23.22,-23.22c0,-12.82325 -10.39675,-23.22 -23.22,-23.22z"
												fill="#788b9c"></path>
											<g>
												<path
													d="M86,13.4375c-3.74035,0 -6.7725,3.03215 -6.7725,6.7725c0,3.74035 3.03215,6.7725 6.7725,6.7725c3.74035,0 6.7725,-3.03215 6.7725,-6.7725c0,-3.74035 -3.03215,-6.7725 -6.7725,-6.7725z"
													fill="#ffeea3"></path>
												<path
													d="M86,14.405c3.20049,0 5.805,2.60451 5.805,5.805c0,3.20049 -2.60451,5.805 -5.805,5.805c-3.20049,0 -5.805,-2.60451 -5.805,-5.805c0,-3.20049 2.60451,-5.805 5.805,-5.805M86,12.47c-4.27441,0 -7.74,3.46558 -7.74,7.74c0,4.27441 3.46559,7.74 7.74,7.74c4.27442,0 7.74,-3.46558 7.74,-7.74c0,-4.27442 -3.46559,-7.74 -7.74,-7.74z"
													fill="#ba9b48"></path>
											</g>
											<g>
												<path
													d="M71.2166,81.1625l-14.59958,-43.80066l18.00517,7.20401l11.3778,-11.3778l11.3778,11.3778l18.00518,-7.20401l-14.59958,43.80066z"
													fill="#b6c9d6"></path>
												<path
													d="M86,34.55609l10.24196,10.24196l0.90171,0.90171l1.18422,-0.47407l15.47613,-6.19007l-13.71915,41.15939h-28.16973l-13.71915,-41.15939l15.47613,6.19007l1.18422,0.47407l0.90171,-0.90171l10.24195,-10.24196M86,31.82l-11.61,11.61l-19.35,-7.74l15.48,46.44h30.96l15.48,-46.44l-19.35,7.74l-11.61,-11.61z"
													fill="#788b9c"></path>
											</g>
											<g>
												<path
													d="M66.65,92.7725c-3.73455,0 -6.7725,-3.03795 -6.7725,-6.7725c0,-3.73455 3.03795,-6.7725 6.7725,-6.7725h38.7c3.73455,0 6.7725,3.03795 6.7725,6.7725c0,3.73455 -3.03795,6.7725 -6.7725,6.7725z"
													fill="#ffeea3"></path>
												<path
													d="M105.35,80.195c3.20049,0 5.805,2.60451 5.805,5.805c0,3.20049 -2.60451,5.805 -5.805,5.805h-38.7c-3.20049,0 -5.805,-2.60451 -5.805,-5.805c0,-3.20049 2.60451,-5.805 5.805,-5.805h38.7M105.35,78.26h-38.7c-4.257,0 -7.74,3.483 -7.74,7.74c0,4.257 3.483,7.74 7.74,7.74h38.7c4.257,0 7.74,-3.483 7.74,-7.74c0,-4.257 -3.483,-7.74 -7.74,-7.74z"
													fill="#ba9b48"></path>
											</g>
										</g>
										<path d="" fill="none"></path>
										<path d="" fill="none"></path>
										<path d="" fill="none"></path>
										<path d="" fill="none"></path>
										<path
											d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
											fill="none"></path>
										<path
											d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
											fill="none"></path>
										<path d="M0,172v-172h172v172z" fill="none"></path>
										<path d="M3.44,168.56v-165.12h165.12v165.12z" fill="none"></path>
										<path
											d="M32.68,172c-18.04867,0 -32.68,-14.63133 -32.68,-32.68v-106.64c0,-18.04867 14.63133,-32.68 32.68,-32.68h106.64c18.04867,0 32.68,14.63133 32.68,32.68v106.64c0,18.04867 -14.63133,32.68 -32.68,32.68z"
											fill="none"></path>
										<path
											d="M36.12,168.56c-18.04867,0 -32.68,-14.63133 -32.68,-32.68v-99.76c0,-18.04867 14.63133,-32.68 32.68,-32.68h99.76c18.04867,0 32.68,14.63133 32.68,32.68v99.76c0,18.04867 -14.63133,32.68 -32.68,32.68z"
											fill="none"></path>
										<path
											d="M33.54,172c-18.52363,0 -33.54,-15.01637 -33.54,-33.54v-104.92c0,-18.52363 15.01637,-33.54 33.54,-33.54h104.92c18.52363,0 33.54,15.01637 33.54,33.54v104.92c0,18.52363 -15.01637,33.54 -33.54,33.54z"
											fill="none"></path>
										<path
											d="M36.98,168.56c-18.52363,0 -33.54,-15.01637 -33.54,-33.54v-98.04c0,-18.52363 15.01637,-33.54 33.54,-33.54h98.04c18.52363,0 33.54,15.01637 33.54,33.54v98.04c0,18.52363 -15.01637,33.54 -33.54,33.54z"
											fill="none"></path>
										<path
											d="M36.12,172c-19.94853,0 -36.12,-16.17147 -36.12,-36.12v-99.76c0,-19.94853 16.17147,-36.12 36.12,-36.12h99.76c19.94853,0 36.12,16.17147 36.12,36.12v99.76c0,19.94853 -16.17147,36.12 -36.12,36.12z"
											fill="none"></path>
										<path
											d="M39.56,168.56c-19.94853,0 -36.12,-16.17147 -36.12,-36.12v-92.88c0,-19.94853 16.17147,-36.12 36.12,-36.12h92.88c19.94853,0 36.12,16.17147 36.12,36.12v92.88c0,19.94853 -16.17147,36.12 -36.12,36.12z"
											fill="none"></path>
										<path
											d="M37.84,172c-20.89845,0 -37.84,-16.94155 -37.84,-37.84v-96.32c0,-20.89845 16.94155,-37.84 37.84,-37.84h96.32c20.89845,0 37.84,16.94155 37.84,37.84v96.32c0,20.89845 -16.94155,37.84 -37.84,37.84z"
											fill="none"></path>
										<path
											d="M41.28,168.56c-20.89845,0 -37.84,-16.94155 -37.84,-37.84v-89.44c0,-20.89845 16.94155,-37.84 37.84,-37.84h89.44c20.89845,0 37.84,16.94155 37.84,37.84v89.44c0,20.89845 -16.94155,37.84 -37.84,37.84z"
											fill="none"></path>
										<path
											d="M38.7,172c-21.37342,0 -38.7,-17.32658 -38.7,-38.7v-94.6c0,-21.37342 17.32658,-38.7 38.7,-38.7h94.6c21.37342,0 38.7,17.32658 38.7,38.7v94.6c0,21.37342 -17.32658,38.7 -38.7,38.7z"
											fill="none"></path>
										<path
											d="M42.14,168.56c-21.37342,0 -38.7,-17.32658 -38.7,-38.7v-87.72c0,-21.37342 17.32658,-38.7 38.7,-38.7h87.72c21.37342,0 38.7,17.32658 38.7,38.7v87.72c0,21.37342 -17.32658,38.7 -38.7,38.7z"
											fill="none"></path>
										<path
											d="M39.56,172c-21.84838,0 -39.56,-17.71162 -39.56,-39.56v-92.88c0,-21.84838 17.71162,-39.56 39.56,-39.56h92.88c21.84838,0 39.56,17.71162 39.56,39.56v92.88c0,21.84838 -17.71162,39.56 -39.56,39.56z"
											fill="none"></path>
										<path
											d="M43,168.56c-21.84838,0 -39.56,-17.71162 -39.56,-39.56v-86c0,-21.84838 17.71162,-39.56 39.56,-39.56h86c21.84838,0 39.56,17.71162 39.56,39.56v86c0,21.84838 -17.71162,39.56 -39.56,39.56z"
											fill="none"></path>
										<path
											d="M41.28,172c-22.79831,0 -41.28,-18.48169 -41.28,-41.28v-89.44c0,-22.79831 18.48169,-41.28 41.28,-41.28h89.44c22.79831,0 41.28,18.48169 41.28,41.28v89.44c0,22.79831 -18.48169,41.28 -41.28,41.28z"
											fill="none"></path>
										<path
											d="M44.72,168.56c-22.79831,0 -41.28,-18.48169 -41.28,-41.28v-82.56c0,-22.79831 18.48169,-41.28 41.28,-41.28h82.56c22.79831,0 41.28,18.48169 41.28,41.28v82.56c0,22.79831 -18.48169,41.28 -41.28,41.28z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M46.44,168.56c-23.74824,0 -43,-19.25176 -43,-43v-79.12c0,-23.74824 19.25176,-43 43,-43h79.12c23.74824,0 43,19.25176 43,43v79.12c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43.86,172c-24.22321,0 -43.86,-19.63679 -43.86,-43.86v-84.28c0,-24.22321 19.63679,-43.86 43.86,-43.86h84.28c24.22321,0 43.86,19.63679 43.86,43.86v84.28c0,24.22321 -19.63679,43.86 -43.86,43.86z"
											fill="none"></path>
										<path
											d="M47.3,168.56c-24.22321,0 -43.86,-19.63679 -43.86,-43.86v-77.4c0,-24.22321 19.63679,-43.86 43.86,-43.86h77.4c24.22321,0 43.86,19.63679 43.86,43.86v77.4c0,24.22321 -19.63679,43.86 -43.86,43.86z"
											fill="none"></path>
										<path
											d="M44.72,172c-24.69817,0 -44.72,-20.02183 -44.72,-44.72v-82.56c0,-24.69817 20.02183,-44.72 44.72,-44.72h82.56c24.69817,0 44.72,20.02183 44.72,44.72v82.56c0,24.69817 -20.02183,44.72 -44.72,44.72z"
											fill="none"></path>
										<path
											d="M48.16,168.56c-24.69817,0 -44.72,-20.02183 -44.72,-44.72v-75.68c0,-24.69817 20.02183,-44.72 44.72,-44.72h75.68c24.69817,0 44.72,20.02183 44.72,44.72v75.68c0,24.69817 -20.02183,44.72 -44.72,44.72z"
											fill="none"></path>
										<path
											d="M45.58,172c-25.17314,0 -45.58,-20.40686 -45.58,-45.58v-80.84c0,-25.17314 20.40686,-45.58 45.58,-45.58h80.84c25.17314,0 45.58,20.40686 45.58,45.58v80.84c0,25.17314 -20.40686,45.58 -45.58,45.58z"
											fill="none"></path>
										<path
											d="M49.02,168.56c-25.17314,0 -45.58,-20.40686 -45.58,-45.58v-73.96c0,-25.17314 20.40686,-45.58 45.58,-45.58h73.96c25.17314,0 45.58,20.40686 45.58,45.58v73.96c0,25.17314 -20.40686,45.58 -45.58,45.58z"
											fill="none"></path>
										<path
											d="M46.44,172c-25.6481,0 -46.44,-20.7919 -46.44,-46.44v-79.12c0,-25.6481 20.7919,-46.44 46.44,-46.44h79.12c25.6481,0 46.44,20.7919 46.44,46.44v79.12c0,25.6481 -20.7919,46.44 -46.44,46.44z"
											fill="none"></path>
										<path
											d="M49.88,168.56c-25.6481,0 -46.44,-20.7919 -46.44,-46.44v-72.24c0,-25.6481 20.7919,-46.44 46.44,-46.44h72.24c25.6481,0 46.44,20.7919 46.44,46.44v72.24c0,25.6481 -20.7919,46.44 -46.44,46.44z"
											fill="none"></path>
										<path
											d="M49.02,172c-27.073,0 -49.02,-21.947 -49.02,-49.02v-73.96c0,-27.073 21.947,-49.02 49.02,-49.02h73.96c27.073,0 49.02,21.947 49.02,49.02v73.96c0,27.073 -21.947,49.02 -49.02,49.02z"
											fill="none"></path>
										<path
											d="M52.46,168.56c-27.073,0 -49.02,-21.947 -49.02,-49.02v-67.08c0,-27.073 21.947,-49.02 49.02,-49.02h67.08c27.073,0 49.02,21.947 49.02,49.02v67.08c0,27.073 -21.947,49.02 -49.02,49.02z"
											fill="none"></path>
										<path
											d="M47.3,172c-26.12307,0 -47.3,-21.17693 -47.3,-47.3v-77.4c0,-26.12307 21.17693,-47.3 47.3,-47.3h77.4c26.12307,0 47.3,21.17693 47.3,47.3v77.4c0,26.12307 -21.17693,47.3 -47.3,47.3z"
											fill="none"></path>
										<path
											d="M50.74,168.56c-26.12307,0 -47.3,-21.17693 -47.3,-47.3v-70.52c0,-26.12307 21.17693,-47.3 47.3,-47.3h70.52c26.12307,0 47.3,21.17693 47.3,47.3v70.52c0,26.12307 -21.17693,47.3 -47.3,47.3z"
											fill="none"></path>
										<path
											d="M43.86,172c-24.22321,0 -43.86,-19.63679 -43.86,-43.86v-84.28c0,-24.22321 19.63679,-43.86 43.86,-43.86h84.28c24.22321,0 43.86,19.63679 43.86,43.86v84.28c0,24.22321 -19.63679,43.86 -43.86,43.86z"
											fill="none"></path>
										<path
											d="M47.3,168.56c-24.22321,0 -43.86,-19.63679 -43.86,-43.86v-77.4c0,-24.22321 19.63679,-43.86 43.86,-43.86h77.4c24.22321,0 43.86,19.63679 43.86,43.86v77.4c0,24.22321 -19.63679,43.86 -43.86,43.86z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M46.44,168.56c-23.74824,0 -43,-19.25176 -43,-43v-79.12c0,-23.74824 19.25176,-43 43,-43h79.12c23.74824,0 43,19.25176 43,43v79.12c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M53.32,161.68c-23.74824,0 -43,-19.25176 -43,-43v-65.36c0,-23.74824 19.25176,-43 43,-43h65.36c23.74824,0 43,19.25176 43,43v65.36c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M56.76,158.24c-23.74824,0 -43,-19.25176 -43,-43v-58.48c0,-23.74824 19.25176,-43 43,-43h58.48c23.74824,0 43,19.25176 43,43v58.48c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M70.52,144.48c-23.74824,0 -43,-19.25176 -43,-43v-30.96c0,-23.74824 19.25176,-43 43,-43h30.96c23.74824,0 43,19.25176 43,43v30.96c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M73.96,141.04c-23.74824,0 -43,-19.25176 -43,-43v-24.08c0,-23.74824 19.25176,-43 43,-43h24.08c23.74824,0 43,19.25176 43,43v24.08c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M63.64,151.36c-23.74824,0 -43,-19.25176 -43,-43v-44.72c0,-23.74824 19.25176,-43 43,-43h44.72c23.74824,0 43,19.25176 43,43v44.72c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M56.76,158.24c-23.74824,0 -43,-19.25176 -43,-43v-58.48c0,-23.74824 19.25176,-43 43,-43h58.48c23.74824,0 43,19.25176 43,43v58.48c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M53.32,161.68c-23.74824,0 -43,-19.25176 -43,-43v-65.36c0,-23.74824 19.25176,-43 43,-43h65.36c23.74824,0 43,19.25176 43,43v65.36c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M49.88,165.12c-23.74824,0 -43,-19.25176 -43,-43v-72.24c0,-23.74824 19.25176,-43 43,-43h72.24c23.74824,0 43,19.25176 43,43v72.24c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M49.88,165.12c-23.74824,0 -43,-19.25176 -43,-43v-72.24c0,-23.74824 19.25176,-43 43,-43h72.24c23.74824,0 43,19.25176 43,43v72.24c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M49.88,165.12c-23.74824,0 -43,-19.25176 -43,-43v-72.24c0,-23.74824 19.25176,-43 43,-43h72.24c23.74824,0 43,19.25176 43,43v72.24c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
											fill="none"></path>
										<path
											d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
											fill="none"></path>
										<path
											d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
											fill="none"></path>
										<path
											d="M86,161.68c-41.79691,0 -75.68,-33.88309 -75.68,-75.68v0c0,-41.79691 33.88309,-75.68 75.68,-75.68v0c41.79691,0 75.68,33.88309 75.68,75.68v0c0,41.79691 -33.88309,75.68 -75.68,75.68z"
											fill="none"></path>
										<path
											d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
											fill="none"></path>
										<path
											d="M86,158.24c-39.89705,0 -72.24,-32.34295 -72.24,-72.24v0c0,-39.89705 32.34295,-72.24 72.24,-72.24h0c39.89705,0 72.24,32.34295 72.24,72.24v0c0,39.89705 -32.34295,72.24 -72.24,72.24z"
											fill="none"></path>
										<path
											d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
											fill="none"></path>
										<path
											d="M86,165.12c-43.69677,0 -79.12,-35.42323 -79.12,-79.12v0c0,-43.69677 35.42323,-79.12 79.12,-79.12v0c43.69677,0 79.12,35.42323 79.12,79.12v0c0,43.69677 -35.42323,79.12 -79.12,79.12z"
											fill="none"></path>
										<path
											d="M43,172c-23.74824,0 -43,-19.25176 -43,-43v-86c0,-23.74824 19.25176,-43 43,-43h86c23.74824,0 43,19.25176 43,43v86c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
										<path
											d="M49.88,165.12c-23.74824,0 -43,-19.25176 -43,-43v-72.24c0,-23.74824 19.25176,-43 43,-43h72.24c23.74824,0 43,19.25176 43,43v72.24c0,23.74824 -19.25176,43 -43,43z"
											fill="none"></path>
									</g>
								</svg></span>
							<br>
							<h3>Chess</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-comment"></span>
							<h3>Eleifend lorem ornare</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-flask"></span>
							<h3>Cubilia cep lobortis</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-paper-plane"></span>
							<h3>Non semper interdum</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-file"></span>
							<h3>Odio laoreet accumsan</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-lock"></span>
							<h3>Massa arcu accumsan</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
					</div>
				</div>
				<footer class="major">
					<ul class="actions special">
						<li><a href="#" class="button">Magna sed feugiat</a></li>
					</ul>
				</footer>
			</div>
		</section>

		<!-- Five -->
		<section id="seven" class="wrapper style2 special fade">
			<div class="container">
				<header>
					<h2>Help us improve with your feedback!</h2>
					<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
				</header>
				<form method="post" action="#" class="cta">
					<div class="row gtr-uniform gtr-50">
						<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email"
								placeholder="Your Email Address" /></div>
						<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" />
						</div>
					</div>
				</form>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/iiituna" class="icon brands alt fa-twitter" target="_blank"><span
							class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/jquery.scrolly.min.js"></script>
	<script src="/public/js/jquery.dropotron.min.js"></script>
	<script src="/public/js/jquery.scrollex.min.js"></script>
	<script src="/public/js/browser.min.js"></script>
	<script src="/public/js/breakpoints.min.js"></script>
	<script src="/public/js/util.js"></script>
	<script src="/public/js/main.js"></script>

</body>

</html>