<!DOCTYPE HTML>
<html>

<head>
	<title>IIIT Una Sports</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/css/main.css">
	<noscript>
		<link rel="stylesheet" href="/public/css/noscript.css"></noscript>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">
		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/blog" style="font-size: 25px;">Blogs</a></li>
					<li><a href="/events" style="font-size: 25px;">Events</a></li>
					<li>
						<a href="#" style="font-size: 25px;">Sports</a>
						<ul>
							<li><a href="/sport/cricket">Cricket</a></li>
							<li><a href="/sport/football">Football</a></li>
							<li><a href="/sport/basketball">Basketball</a></li>
							<li><a href="/sport/badminton">Badminton</a></li>
							<li><a href="/sport/lawntennis">Lawn Tennis</a></li>
							<li><a href="/sport/swimming">Aquatics</a></li>
							<li><a href="/sport/snooker">Snooker</a></li>
							<li><a href="/sport/weightlifting">Weight Lifting</a></li>
							<li><a href="/sport/athletics">Athletics</a></li>
							<li><a href="/sport/volleyball">Volleyball</a></li>
							<li><a href="/sport/tabletennis">Table Tennis</a></li>
							<li><a href="/sport/chess">Chess</a></li>

						</ul>
					</li>
					<li><a href="/achievements" style="font-size: 25px;">Achievements</a></li>
					<li><a href="/gallery" style="font-size: 25px;">Gallery</a></li>
					<li><a href="/council" style="font-size: 25px;">Council</a></li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="content" style="text-align: center; text-transform: uppercase; font-weight: 900;">
				<header>
					<h2 style="font-weight: 600; font-family: 'Times New Roman', Times, serif;">IIIT Una Sports</h2>
					<p style="font-family:'Times New Roman', Times, serif;">CITIUS. ALTIUS. FORTIUS.</p>
				</header>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="spotlight style1 bottom">
			<span class="image fit main"><img src="/public/images/pic05.jpg" alt="" /></span>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">
							<header>
								<h2 style="text-align: justify;">IIIT Una Sports provides the hub of the numerous
									sports. </h2>
							</header>
						</div>
						<div class="col-4 col-12-medium" style="text-align:justify" >
							<p>At the college, we have several intra-hostel and inter-hostel events such as chess, futsal, badminton, etc.
							 	and a large participation of students is involved.
							</p>
						</div>
						<div class="col-4 col-12-medium">
							<p>At the college level, we compete in inter-college events every year and </p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="spotlight style2 right">
			<span class="image fit main"><img src="/public/images/pic01.jpg" alt="" /></span>
			<div class="content" style="text-align: justify;">
				<header>
					<h2>Football</h2>
					<p>‘O Jogo Bonito’ phrase, meaning <br>‘The Beautiful Game’</p>
				</header>
				<p>Soccer is not about one person (individual) who is leading a team
					that leads his team to a victory, it’s about a TEAM, where everyone gets
					an equal chance to score a goal depending on their skills.</p>
				<ul class="actions">
					<li><a href="/sport/football" class="button">Learn More</a></li>
				</ul>
			</div>
		</section>
		<br><br>
		<!-- Three -->
		<section id="three" class="spotlight style3 left">
			<span class="image fit main bottom"><img src="/public/images/pic02.jpg" alt="" /></span>
			<div class="content" style="text-align: justify;">
				<header>
					<h2>Cricket</h2>
				</header>
				<p>Cricket is a bat and ball game played between two teams of 11 players on a large round field.
					A game of cricket is divided into ‘Overs’ and ‘Innings’. One ‘over’ is made up of 6 balls. After 6
					balls have been bowled, the bowler must change.
				</p>
				<ul class="actions">
					<li><a href="/sport/cricket" class="button">Learn More</a></li>
				</ul>
			</div>
		</section>
		<br><br>
		<!-- Three point Five -->
		<section id="four" class="spotlight style2 right">
			<span class="image fit main"><img src="/public/images/pic03.jpg" alt="" /></span>
			<div class="content" style="text-align: justify;">
				<header>
					<h2>Basketball</h2>
					<p>Show me a slam-dunk.</p>
				</header>
				<p>Basketball is a team sport where two teams, usually consisting of five players on each team, play
					against each other. The objective is to get the ball through a hoop mounted
					high on a backboard on the opponent's side of the court, while preventing the opponent from shooting
					it into your team's hoop. It is a very popular sport worldwide.</p>
				<ul class="actions">
					<li><a href="/sport/basketball" class="button">Learn More</a></li>
				</ul>
			</div>
		</section>
		<br><br>

		<!-- Four -->
		<section id="six" class="wrapper style1 special fade-up">
			<div class="container">
				<header class="major">
					<h2>The Sports We Play</h2>
				</header>
				<div class="box alt">
					<div class="row gtr-uniform">
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-comment"></span>
							<h3>Chess</h3>
							<p>Chess is a two-player strategy board game played on a checkered board with 64 squares arranged in an 8×8 grid.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-comment"></span>
							<h3>Badminton</h3>
							<p>Badminton is a racquet sport played using racquets to hit a shuttlecock across a net.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-flask"></span>
							<h3>Weight Lifting</h3>
							<p>Weightlifting, sport in which barbells are lifted competitively or as an exercise.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-paper-plane"></span>
							<h3>Snooker</h3>
							<p>Snooker is a cue sport that is played on a baize-covered table with pockets in each of the four corners and in the middle of each of the long side cushions.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-file"></span>
							<h3>Athletics</h3>
							<p>Athletics is a collection of sporting events that involve competitive running, jumping, throwing, and walking. </p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-lock"></span>
							<h3>Aquatics</h3>
							<p>Aquatic sports includes the disciplines of swimming, diving, synchronized swimming, water polo, and open water swimming</p>
						</section>
					</div>
				</div>
				<footer class="major">
					<ul class="actions special">
						<li><a href="/sport" class="button">Click for More</a></li>
					</ul>
				</footer>
			</div>
		</section>

		<!-- Five -->
		<section id="seven" class="wrapper style2 special fade">
			<div class="container">
				<h2 style="font-size: 40px; color:rgb(11, 12, 10);">Help us improve with your feedback!</h2>
				<form method="POST" action="/feedback" class="cta">
					<div class="row gtr-uniform gtr-50">
						<div class="col-12 col-12-xsmall">
							<input type="email" name="email" id="email" placeholder="Your Email Address"
								style="color: white; font-weight: 600;" required />
						</div>
						<div class="col-12 col-12-xsmall">
							<textarea name="message" id="message" placeholder="Enter your message" rows="6"
								style="color: white; font-weight: 600;" required></textarea>
						</div>
						<div class="col-12 col-12-xsmall"><input type="submit" value="Send" class="fit primary" />
						</div>
					</div>
				</form>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/iiituna" class="icon brands alt fa-twitter" target="_blank"><span
							class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; IIIT Una. All rights reserved.</li>
				<li>Design: <a href="https://powerfist01.web.app" target="_blank" style="text-decoration:none;">Sujeet
						Singh</a></li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/jquery.scrolly.min.js"></script>
	<script src="/public/js/jquery.dropotron.min.js"></script>
	<script src="/public/js/jquery.scrollex.min.js"></script>
	<script src="/public/js/browser.min.js"></script>
	<script src="/public/js/breakpoints.min.js"></script>
	<script src="/public/js/util.js"></script>
	<script src="/public/js/main.js"></script>

</body>

</html>