<!DOCTYPE HTML>
<html>

<head>
    <title>Lawn Tennis - IIIT Una</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/css/main.css">
    <noscript>
        <link rel="stylesheet" href="/public/css/noscript.css"></noscript>
    <style>
        a,
        p,
        h1 {
            font-weight: 500;
        }
    </style>
</head>

<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="/">IIIT Una Sports</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/events" style="font-size: 25px;">Events</a></li>
                    <li>
                        <a href="#" style="font-size: 25px;">Sports</a>
                        <ul>
                            <li><a href="/sport/cricket">Cricket</a></li>
                            <li><a href="/sport/football">Football</a></li>
                            <li><a href="/sport/basketball">Basketball</a></li>
                            <li><a href="/sport/volleyball">Volleyball</a></li>
                            <li><a href="/sport/tabletennis">Table Tennis</a></li>
                            <li><a href="/sport/chess">Chess</a></li>

                        </ul>
                    </li>

                    <li><a href="#" style="font-size: 25px;">Yalgaar</a></li>
                    <li><a href="/council" style="font-size: 25px;">Council</a></li>
                    <!-- <li><a href="#" class="button primary">Sign Up</a></li>
					<li><a href="#" class="button primary">Log In</a></li> -->
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main" class="wrapper style1">
            <div class="container">
                <header class="major">
                    <h2>Lawn Tennis</h2>
                    <p>“”</p>
                </header>
                <div class="row gtr-150">
                    <div class="col-4 col-12-medium">

                        <!-- Sidebar -->
                        <section id="sidebar">

                            <section>
                                <h3>Our Players</h3>
                                <p>Our hardworking players ...</p>
                                <ul class="actions">
                                    <li><a href="/sport/football/players" class="button">Know Our Players</a></li>
                                </ul>
                            </section>
                            <hr />
                            <section id="sidebar">
                                <h3>How to Join</h3>
                                <p>Just contact...</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">Learn More</a></li>
                                </ul>
                            </section>
                        </section>
                    </div>
                    <div class="col-8 col-12-medium imp-medium">
                        <div class="box alt">
                            <div class="row gtr-50 gtr-uniform">
                                <div class="col-12"><span class="image fit"><img
                                            src="/public/images/football-allahabad.jpg" alt="" /></span></div>
                            </div>
                        </div>
                        <!-- Content -->
                        <section id="content">
                            <p style="text-align: justify;">Snooker is a
                                cue sport that originated among British Army officers stationed in India in the second
                                half of the 19th century. It is played on a rectangular table covered with a green cloth
                                , with pockets at each of the four corners and in the middle of each long
                                side. Using a cue stick and 21 coloured balls, players must strike the white ball (or
                                "cue ball") to pot or pocket the remaining balls in the correct sequence, accumulating
                                points for each pot. An individual game (or frame), is won by the player scoring the
                                most points. A match is won when a player wins a predetermined number of frames.

                                Snooker gained its identity in 1875 when army officer Sir Neville Chamberlain
                                (1856–1944), stationed in Ooty, Tamil Nadu, devised a set of rules that combined pyramid
                                and black pool. The word snooker was a long-used military term for inexperienced or
                                first-year personnel. The game grew in popularity in the United Kingdom, and the
                                Billiards Association and Control Club was formed in 1919. It is now governed by the
                                World Professional Billiards and Snooker Association. </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.scrolly.min.js"></script>
    <script src="/public/js/jquery.dropotron.min.js"></script>
    <script src="/public/js/jquery.scrollex.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>

</body>

</html>