<!DOCTYPE HTML>
<html>
	<head>
		<title>IIIT Una Sports</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet"  href="/public/css/main.css">
		<noscript><link rel="stylesheet" href="/public/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing"> 
		<div id="page-wrapper">

			<!-- Banner -->
				<section id="banner1">
					<div class="content" style="text-align: center; text-transform: uppercase; font-weight: 900;">
						<header>
							<h2><strong><b>404 - PAGE NOT FOUND</b></strong></h2>
							<p style="color: brown;">We have dispatched a rescue murloc to guide you back to safely.</p>
						</header>
						<form action="/" method="GET" style="padding-top: 100px;">
							<input type="submit" value="Mrgglglbrlg">
						</form>
					</div>
				</section>
		</div>

		<!-- Scripts -->
			<script src="public/js/jquery.min.js"></script>
			<script src="public/js/jquery.scrolly.min.js"></script>
			<script src="public/js/jquery.dropotron.min.js"></script>
			<script src="public/js/jquery.scrollex.min.js"></script>
			<script src="public/js/browser.min.js"></script>
			<script src="public/js/breakpoints.min.js"></script>
			<script src="public/js/util.js"></script>
			<script src="public/js/main.js"></script>

	</body>
</html>