<!DOCTYPE HTML>
<html>

<head>
	<title>Page Not Found</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/css/main.css">
	<noscript>
		<link rel="stylesheet" href="/public/css/noscript.css" /></noscript>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">

		<!-- Banner -->
		<section id="banner1">
			<div class="content" style="text-align: center; font-weight: 900;">
				<header style="margin-top: 200px;">
					<h2>404 - PAGE NOT FOUND</h2>
					<p style="color: rgb(255, 0, 0); margin-top: 100px; text-transform: uppercase;">We have dispatched a
						rescue murloc to guide you back to safety.</p>
				</header>
				<section style="margin-top: 50px;">
					<a href="/" class="button">Mrgglglbrlg</a>
				</section>
			</div>
		</section>
	</div>

	<!-- Scripts -->
	<script src="public/js/jquery.min.js"></script>
	<script src="public/js/jquery.scrolly.min.js"></script>
	<script src="public/js/jquery.dropotron.min.js"></script>
	<script src="public/js/jquery.scrollex.min.js"></script>
	<script src="public/js/browser.min.js"></script>
	<script src="public/js/breakpoints.min.js"></script>
	<script src="public/js/util.js"></script>
	<script src="public/js/main.js"></script>

</body>

</html>