body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
h1{
	color: rgb(23, 10, 202);
}
.main_card {
	color: #fff;
	width: 950px;
	height: 450px;
	margin: 50px auto; 
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 900px;
	background: #00C9FF; 
	background: -webkit-linear-gradient(to right, rgb(19, 4, 224), rgb(180, 6, 64));
	background: -webkit-linear-gradient(left, #92FE9D, #00C9FF);
	background: -o-linear-gradient(left, #92FE9D, #00C9FF);
	background: linear-gradient(to right, rgb(3, 209, 48), rgb(19, 16, 167)); 
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
	width: 100%;
}

.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}
.card_datails  h1 {
	font-size: 30px;
}
.card_right img {
	height: 450px;
	border-radius: 2px;
}
.card_right {
	border-radius: 2px;
}

.card_cat {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.PG, .year, .genre, .time {
	color:white;
	padding: 10px;
	font-weight: bold;
	border-radius: 15px;
}

.disc {
	font-weight: 1000;
	color: rgb(59, 55, 57);
	line-height: 27px;
}
a {
	color: rgb(12, 13, 17);
	display: block;
	text-decoration: none;
}
.social-btn {
	margin-left: -10px;
}
button {
	color: #fff;
	border: none;
	padding: 20px;
	outline: none;
	font-size: 15px;
	margin-top: 30px;
	margin-left: 10px;
	background: rgb(12, 221, 158);
	border-radius: 12px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	        box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-transition: 300ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
}

button:hover {
	cursor:pointer;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}
